body {
  font-family: "Lucida Grande", Palatino, Verdana, sans-serif;
  font-size: 1.0em;
  margin: 20px;
  background-color: #FFF2E3;
}

font.error {
  color: #FF0210;
  font-family: bold;
}
font.warning {
  color: #FF7D15;
}
font.info {
  color: #416B41;
}
font.date {
  color: #6D5A46;
}
font.giant {
  color: #3B4E09;
  font-size: 5em;
}
font.quote {
  font-style: italic;
}
font.attribution {
  font-size: .8em;
  color: #576B4A;
}

table {
  border:  1px solid gray;
  padding: 0px;
  background-color: #DEDEEE;
}
th {
  border-bottom:  1px solid gray;
  padding: 5px;
  background-color: #EEE9E4;
}
td {
  padding: 5px;
  background-color: #F5F4E2;
}

.hidden {
  display: none;
}

.padding {
  width: 100%;
}
.spacing {
  width: 20px;
}
.fullWidth {
  width: 100%;
}
.resizable {
  padding: 0.5em;
}

.rounded-corners {
  -webkit-border-radius: 5px;  
}
.top-left-rounded-corners {
  -webkit-border-top-left-radius:  5px;
}
.top-right-rounded-corners {
  -webkit-border-top-right-radius: 5px;
}
.bottom-left-rounded-corners {
  -webkit-border-bottom-left-radius:  5px;
}
.bottom-right-rounded-corners {
  -webkit-border-bottom-right-radius: 5px;
}

div.banner {
  background-image: url("../images/scala-staircase.jpg");  
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

div#finance-display {
}
div#pong-display {
}

div.loading {
  padding-top:200px;
  text-align: center;
  vertical-align: middle;
}

.icon {
  background-image: url("../images/scala-logo-small.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 24px;
}

div.toolbar {
  font-family: Palatino, Helvetica, "Lucida Grande", Verdana, sans-serif;
  vertical-align: middle;
  text-align: middle;
  font-size: 1.0em;
  border: 1px solid gray;
  background-color: #DEEEDD;
  margin-top:  5px;
  margin-bottom:  5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
}

.toolbar-control {
  float: left;
  vertical-align: middle;
  text-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
}

.with-left-border {
  border-left: 1px #AAA solid;
}
.with-right-border {
  border-right: 1px #AAA solid;
}
.float-to-right {
/*  position: absolute;
  right: 5px;
*/
  margin-top: -5px;
  margin-right: -5px;
  float: right;
  text-align: right;
  border: 1px #B5B8B6 solid;
  background-color: #E9EDEA; 
  padding-bottom:  5px;
  padding-left:    5px;
  z-index: -1;
}

.left {
  margin-left: auto;
}
.right {
  margin-right: auto;
}

#title {
  float: left;
  font-weight: bold;
  font-family: Helvetica;
  vertical-align: middle;
  padding-top: 3px;
}

#message {
  font-family: Palatino, Helvetica, "Lucida Grande", Verdana, sans-serif;
}
.message-box {
  height: 20px;  
  padding: 5px;
}

.data-table {
  border: 1px gray solid;
  background-color: #E4FFDB;
}
.data-head {
  text-align: left;
  border-bottom: 1px gray solid;
}
.data-row {
  text-align: left;
  border-bottom: 1px gray solid;
}

div.debug {
  float: left;
}

a.dp-choose-date {
  width:  16px;
  height: 16px;
  padding: 0;
  margin:  5px 3px 0;
  display: inline-block;
  text-indent: -2000px;
  overflow: hidden;
  background: url(../images/calendar.png) no-repeat; 
}

a.dp-choose-date.dp-disabled {
  background-position: 0 -20px;
  cursor: default;
}
