<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5"> 

  <display-name>Chicago Scala Akka Web Sample Exercise</display-name>

  <!-- Our initializers does not mixin Camel support, which can cause mysterious ClassNotFoundErrors. -->
  <listener>
    <listener-class>org.chicagoscala.awse.servlet.Initializer</listener-class>
  </listener>
  
  <servlet>
		<servlet-name>AkkaServlet</servlet-name>
    <servlet-class>se.scalablesolutions.akka.comet.AkkaServlet</servlet-class>
    <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>org.chicagoscala</param-value>
    </init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>AkkaServlet</servlet-name>
		<url-pattern>/ajax/*</url-pattern>
	</servlet-mapping>

</web-app>


